<header role="banner">
  <div style="display: flex; align-items: center;">
    <a href="{{ site.baseurl }}/" aria-label="Puget Sound Analytics home">
      <img class="logo" src="{{ site.logo }}" alt="Puget Sound Analytics logo">
    </a>
    <h1 style="margin-left: 10px;">{{ site.title }}</h1>
  </div>
  <p>{{ site.description }}</p>
  <nav role="navigation">
    <a href="{{ '/who/' | relative_url }}">WHO</a> |
    <a href="{{ '/what/' | relative_url }}">WHAT</a> |
    <a href="{{ '/why/' | relative_url }}">WHY</a>
  </nav>
</header>
