<header>
  <div>
    <a href="{{ site.baseurl }}/">
      <img
        class="logo"
        src="{{ site.logo }}"
        alt="Puget Sound Analytics logo — Jennifer Chin’s data & visualization portfolio"
      >
    </a>
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  </div>
  <p>{{ site.description }}</p>
  <nav>
    <a href="{{ '/who/' | relative_url }}">WHO</a> |
    <a href="{{ '/what/' | relative_url }}">WHAT</a> |
    <a href="{{ '/why/' | relative_url }}">WHY</a>
  </nav>
</header>
