<header role="banner" style="background-color: #212121; padding: 20px 0;">
  <div class="wrapper">
    <div class="header-flex">
      <a href="{{ site.baseurl }}/" aria-label="Puget Sound Analytics home">
        <img class="logo" src="{{ site.logo }}" alt="Puget Sound Analytics logo">
      </a>
      <div class="site-meta">
        <h1 class="site-title">{{ site.title }}</h1>
        <p class="tagline">{{ site.description }}</p>
        <nav role="navigation" class="topnav">
          <a href="{{ '/who/' | relative_url }}">WHO</a> |
          <a href="{{ '/what/' | relative_url }}">WHAT</a> |
          <a href="{{ '/why/' | relative_url }}">WHY</a>
        </nav>
      </div>
    </div>
  </div>
</header>
